@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Finlandica:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&family=Underdog&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Finlandica:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&family=Underdog&display=swap'); 

@import "tailwindcss";

@theme {
  --font-Unbounded: "Unbounded", sans-serif;
  --font-prompt: "Prompt", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* สำหรับ WebKit browsers (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* สำหรับ Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* ป้องกัน scrollbar แนวนอนที่อาจเกิดจาก element ที่เลยขอบ */
}

/* Optional: Ensure Next.js root element fills the screen */
#__next {
    height: 100%; /* Make sure Next.js root element takes full height */
}


body {
  background-color: #FFF6D1;
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 100% 50%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@keyframes myAnim2 {
	0%,
	100% {
		transform: rotate(-35deg);
		transform-origin: 100% 50%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

.animate-shakeright2 {
  animation: myAnim2 13s ease 1s infinite;
}

.animate-shakeright {
  animation: myAnim 13s ease 1s infinite;
}

.animate-wiggle {
  animation: wiggle 1s infinite ease-in-out;
}

.animate-sizeUpdown {
	animation: SizeUp 2s infinite ease-in-out;
}

.animate-sizeUpdown2 {
	animation: SizeUpUp 1s infinite ease-in-out;
}

.animate-showUp {
	animation: ShowUp 1s ease 0s 1 normal forwards;
}

.animate-Open {
	animation: Open 2s ease 0s 1 normal forwards;
}

.animate-OpenScene {
	animation: OpenScene 1s ease 0s 1 normal forwards;
}

.animate-OpenScene2 {
	animation: OpenScene 3s ease 0s normal forwards;
}

@keyframes OpenScene {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes Open {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


@keyframes SizeUp { 
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(102%);
	}

	100% {
		transform: scale(100%);
	}
}

@keyframes ShowUp {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes SizeUpUp { 
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(107%);
	}

	100% {
		transform: scale(100%);
	}
}

@keyframes dopdop { 
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-0.5rem);
	}

	100% {
		transform: translateY(0);
	}
}

.animate-dopdop {
	animation: dopdop 4s ease-in-out infinite;
}